<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.romanticyeojido">


<!-- 권한추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RomanticYeojido"
        tools:targetApi="31">

        <!-- SplashActivity 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashStatusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoadingActivity 추가 -->
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/FullStatusTheme"/>

        <activity android:name=".ui.memoryPost.MemoryPostActivity"
            android:exported="true"
            android:theme="@style/FullStatusTheme"/>

        <activity android:name=".ui.map.MapActivity"
            android:exported="true"
            android:theme="@style/FullStatusTheme"/>

        <activity android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/FullStatusTheme"/>

        <activity android:name=".ui.locker.LockerActivity"
            android:exported="true"
            android:theme="@style/FullStatusTheme"/>
    </application>

</manifest>
